/* ***** commons ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    /* background-color: aqua; */
    margin: 0 auto;
    /* width: 80%; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.box{
    height: 500px;
    width: 1000px;
    display: flex;
    background-color: darkgoldenrod;
    /* border: 1px solid black; */
    position: relative;
}

.colonna-foto{
    height: 500px;
    width: calc(100% - 200px);
    display: flex;
}

.colonna-thumb{
    height: 500px;
    width: 200px;
    display: flex;
    background-color: darkgreen;
    /* border: 1px solid black; */
    flex-direction:column;
    align-items:center;
    justify-content:center;  
}

.foto-thumb{
    height: 100px;
    width: 100%;
    display: flex;
    align-content:center;
    /* background: dodgerblue;
    border: 1px solid black; */
    /* object-fit: cover; */
}
.foto-thumb img{
    width: 100%;
}

.pulsante{
    background-color: rgba(255, 255, 255, 0.384);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
}
.up{
    position: absolute;
    top: 10px;    
    display: flex;
    align-content:start;   
}
.down{    
    position: absolute;
    bottom:10px;
    display: flex;
    align-content:end;    
}

.txt{
    position: absolute;
    bottom: 40px;
    width: calc(100% - 200px);
    margin: 20px;
    display: flex;
    align-content:center;

}