/* ***** commons ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    background-color: aqua;
    margin: 0 auto;
    /* width: 80%; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.box{
    height: 500px;
    width: 700px;
    display: flex;
    background-color: darkgoldenrod;
    border: 1px solid black;
}

.colonna-foto{
    height: 500px;
    width: 200px;
    display: flex;
    background-color: darkgreen;
    border: 1px solid black;
    flex-direction:column;
}

.foto-thumb{
    height: 100px;
    width: 200px;
    display: flex;
    align-content:center;
    background: dodgerblue;
    border: 1px solid black;
}